<!DOCTYPE html>
<html>
  <head>
    <title>Invoices</title>
    <%= csrf_meta_tags %>

  </head>

        <body>
       
        <div class="container-fluid">
          <%= yield %>
        </div>
      </body>
</html>
